# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  Major: 0
  Minor: 0
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]

name: $(Major).$(Minor).$(Rev:r)

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build
  displayName: Build
  
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: DotNetCoreCLI@2
      displayName: Build
      inputs:
        command: 'build'
        projects: '**/*.sln'
        arguments: --configuration Release

    - task: Docker@2
      displayName: Create Docker image
      condition: and(succeeded(), eq(variables.isMain, 'true'))
      inputs:
        containerRegistry: 'TooManyCookBooks ACR Dev'
        repository: 'toomanycookbooksapi-dev'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: $(Build.BuildNumber)

  - job:
    displayName: Deploy
    condition: and(succeeded(), eq(variables.isMain, 'true'))
    dependsOn: Build
    steps:
    - task: AzureRmWebAppDeployment@4
      inputs:
        ConnectionType: 'AzureRM'
        azureSubscription: 'Visual Studio Premium with MSDN(bbe8e064-d490-470f-8e8a-485bd7227583)'
        appType: 'webAppContainer'
        WebAppName: 'toomanycookbooksapi-dev'
        DockerNamespace: 'toomanycookbooksdev'
        DockerRepository: 'toomanycookbooksapi-dev'
        DockerImageTag: '$(Build.BuildNumber)'
